header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  height: 52px;
  background: #212121;
  width: 100%;
  height: 50px;
  z-index: 2;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 10px;
  margin: 0 auto;
  list-style-type: none;
}
.menu_link {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}
.menu_item {
  border-right: 4px dotted #000;
  padding-right: 59px;
}
.menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  height: 87px;
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_official {
  margin-top: 6px;
  color: #FFFFFF;
  opacity: 0.5;
  font-weight: 100;
  font-size: 13px;
}
.subheader_call {
  color: #FFFFFF;
  margin-top: 19px;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
}
.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  border-radius: 4px;
  text-transform: uppercase;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  min-height: 800px;
  background: url(../img/bg/uber_bg.jpg) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo_header {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 60px;
  align-items: center;
  margin: 0;
  text-align: center;
}
.promo_subheader {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 60px;
  text-align: center;
  margin: 0;
  margin-top: 22px;
}
.promo_descr {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}
.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.reasons {
  padding: 71px 0 65px 0;
}
.reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.reasons_round {
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1EACC7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.reasons_descr {
  width: 343px;
}
.reasons_subtitle {
  line-height: 21px;
  color: #1EACC7;
  font-size: 17px;
  font-weight: 400;
}
.reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.label_white {
  background-color: #fff;
  color: #070716;
}

.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.title_white {
  color: #ffffff;
}

.subtitle {
  margin-top: 19px;
  font-weight: 400;
  font-size: 17px;
  color: #222222;
  text-align: center;
}
.subtitle_white {
  color: #FFFFFF;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile_bg.jpg") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url("../img/mobile/mobile_screen_1.jpg") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/mobile/mobile_screen_2.jpg") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/mobile/mobile_screen_3.jpg") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/mobile/mobile_screen_4.jpg") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/mobile/mobile_screen_5.jpg") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/mobile/mobile_screen_6.jpg") center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 29px;
  height: 29px;
  background: #000000;
  margin: 0 auto;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  padding: 6px;
  cursor: pointer;
}
.mobile_item_plus::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  transition: 0.3s all;
}
.mobile_item_plus::after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover::after {
  background-color: #FF5656;
}

.choise {
  position: relative;
  min-height: 898px;
  background: url("../img/bg/choise_bg.png") center center/cover no-repeat;
  padding: 57px 0 138px 0;
  z-index: -2;
}
.choise .black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 502px;
  background: #070716;
  z-index: -1;
}
.choise_img {
  display: block;
  position: relative;
  margin: 56px auto 0 auto;
  z-index: 2;
}
.choise_descr {
  text-align: center;
  color: #222222;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
}

.require {
  padding: 66px 0 87px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0;
}
.require_title {
  color: #1CA8C3;
}
.require_list {
  list-style-type: none;
  margin-left: 56px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 10px;
}
.require_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -34px;
  top: 2px;
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.png") center center/cover no-repeat;
}
.require_descr {
  font-weight: 300;
  font-size: 17px;
  color: #1CA8C3;
}
.require_warning .require_title {
  color: #FF5656;
}
.require_warning .require_list li::before {
  background: url("../icons/check_red.png") center center/cover no-repeat;
}

.world {
  position: relative;
  background: url(../img/bg/world_bg.jpg) center center/cover no-repeat;
  width: 100%;
  height: 720px;
  padding-top: 49px;
}
.world_cities {
  position: absolute;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #1FBAD6;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
}
.world_cities a {
  text-decoration: none;
  color: #1FBAD6;
}

.footer_divider {
  height: 4px;
  width: 301px;
  background: #1FBAD6;
  margin: 0 auto;
  margin-top: 12px;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}
.footer_intermediate {
  width: 33%;
}
.footer_intermediate:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
.footer_social {
  width: 164px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
  text-decoration: none;
  color: none;
}
.footer_social_item i {
  color: #fff;
}
.footer_links {
  width: 390px;
  margin: 0 auto;
  color: none;
}
.footer_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
.footer_links_main a:hover {
  color: #1EACC7;
  transform: scale(1.2);
  transition: transform 0.4s ease;
}
.footer_links_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
.footer_links_sub a:hover {
  color: #1EACC7;
  transform: scale(1.2);
  transition: transform 0.4s ease;
}
.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.footer_mobile {
  width: 312px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.footer_mobile a {
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
}
.footer_mobile a img {
  width: 94px;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 29px;
  }
  .menu_link {
    font-size: 14px;
  }
  .promo_header {
    font-size: 50px;
  }
  .reasons_block {
    align-items: flex-start;
  }
  .reasons_descr {
    width: 300px;
  }
  .mobile_item {
    width: 300px;
  }
  .footer_links {
    width: 315px;
  }
  .footer_mobile {
    width: 224px;
  }
  .footer_mobile a img {
    width: 70px;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding-right: 16px;
  }
  .menu_link {
    font-size: 12px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
    margin-top: 14px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    width: 100%;
    height: 40px;
    font-size: 13px;
    margin-top: 23px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .promo_descr {
    font-size: 14px;
  }
  .promo_btn {
    width: 224px;
    height: 50px;
  }
  .reasons_block {
    flex-direction: column;
    align-items: center;
  }
  .reasons_round {
    margin-right: 0;
  }
  .reasons_descr {
    width: 300px;
    margin-top: 20px;
  }
  .mobile_item {
    width: 220px;
    height: 220px;
    padding-top: 50px;
  }
  .mobile_item_subtitle {
    font-size: 16px;
    line-height: 24px;
  }
  .choise_img {
    width: 100%;
  }
  .world > .container {
    width: 100%;
    margin: 0 auto;
  }
  .footer_wrapper {
    padding: 30px 5px;
  }
  .footer_intermediate {
    width: 25%;
  }
  .footer_intermediate:nth-child(2) {
    width: 50%;
  }
  .footer_social {
    justify-content: space-around;
    width: 180px;
  }
  .footer_links {
    width: 350px;
    margin: 0 auto;
    padding: 15px;
  }
  .footer_links_main a {
    font-size: 14px;
  }
  .footer_links_sub {
    margin: 0 auto;
    margin-top: 10px;
  }
  .footer_links_sub a {
    margin-right: 5px;
    font-size: 11px;
  }
  .footer_links_sub a:last-child {
    margin-right: 0;
  }
  .footer_mobile a {
    margin: 0 2px 0 0;
  }
  .footer_mobile a:last-child {
    margin: 0;
    width: 63px;
  }
  .footer_mobile a img {
    width: 65px;
  }
}
@media (max-width: 767px) {
  .menu {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 1s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 14px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 2px;
    transition: 0.6s all;
  }
  .hamburger_active span {
    margin-top: -4px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    display: block;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
  }
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    border: 3px solid rgba(0, 0, 0, 0.07);
    box-shadow: inset 0px -3px 0px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  .subheader .promo_header {
    line-height: 45px;
  }
  .footer_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_intermediate {
    width: 50%;
  }
  .footer_social {
    width: 100%;
  }
  .footer_links {
    width: 100%;
  }
  .footer_mobile {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 575px) {
  .subheader {
    height: 62px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 18px;
  }
  .subheader_phone {
    font-size: 12px;
    margin-top: 9px;
    text-decoration: none;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 9px;
    margin-bottom: 10px;
  }
  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0;
  }
  .promo_descr {
    display: none;
  }
  .promo_header {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 29px;
  }
  .promo_subheader {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 25px;
    font-size: 22px;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    border: 3px solid rgba(0, 0, 0, 0.07);
    box-shadow: inset 0px -4px 0px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 72px;
  }
  .menu_active {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu_link {
    display: block;
  }
  .reasons {
    padding: 22px 0 38px 0;
  }
  .reasons_block {
    margin-top: 24px;
    padding: 0 16px;
  }
  .reasons_round {
    width: 100px;
    height: 100px;
  }
  .reasons_descr {
    width: 100%;
    margin-top: 24px;
  }
  .title {
    font-size: 14px;
    margin-top: 14px;
    line-height: 16px;
  }
  .subtitle {
    margin-top: 9px;
    font-size: 14px;
    line-height: 21px;
  }
  .mobile {
    margin-top: 38px;
    padding: 25px 0 43px 0;
  }
  .mobile_item {
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 30px;
    width: 290px;
    height: 254px;
    padding: 80px 0 21px 0;
  }
  .mobile_item:last-child {
    margin-bottom: 0;
  }
  .mobile_item_subtitle {
    font-size: 18px;
    line-height: 31px;
  }
  .choise {
    padding: 25px 0 33px 5px;
    min-height: 390px;
    background: #000;
  }
  .choise .black, .choise .title_white, .choise .subtitle_white {
    display: none;
  }
  .choise_img {
    margin-top: 34px;
  }
  .choise_descr {
    margin-top: 23px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
  }
  .require {
    width: 320px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .require_block {
    margin-top: 30px;
  }
  .require_title {
    margin-left: 16px;
    font-size: 16px;
  }
  .require_list {
    margin-top: 5px;
    margin-left: 16px;
  }
  .require_descr {
    margin-left: 16px;
  }
  .world {
    width: 320px;
    height: 360px;
    margin: 0 auto;
  }
  .world_cities {
    margin: 0 auto;
    width: 222px;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
  }
  .world_cities a {
    color: #1FBAD6;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  .world .container {
    margin: 0 auto;
  }
  .world .label_white_city {
    width: 79px;
    height: 26px;
    font-size: 11px;
  }
  .world .title_white_city {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .footer {
    padding: 24px 0 30px 0;
    margin: 0 auto;
  }
  .footer_divider {
    width: 255px;
    height: 6px;
  }
  .footer_wrapper {
    padding: 0 20px;
  }
  .footer_intermediate {
    display: flex;
    width: 100%;
    margin: 0 18px;
  }
  .footer_intermediate:nth-child(1) {
    order: 2;
  }
  .footer_intermediate:nth-child(2) {
    width: 100%;
    margin: 0 18px;
    order: 1;
  }
  .footer_intermediate:nth-child(3) {
    order: 3;
    justify-content: center;
  }
  .footer_social {
    margin: 0 auto;
    margin-top: 17px;
    width: 156px;
    justify-content: space-between;
  }
  .footer_social_item {
    width: 35px;
    height: 35px;
    text-align: center;
    margin-left: 0;
    margin-right: 6px;
  }
  .footer_social_item:last-child {
    margin-right: 0;
  }
  .footer_links {
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    width: 100%;
  }
  .footer_links_main {
    padding: 0;
  }
  .footer_links_sub {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer_links_sub a {
    margin: 0 20px;
  }
  .footer_links_sub a:last-child {
    margin-right: 20px;
  }
  .footer_links_lang {
    margin-top: 9px;
  }
  .footer_mobile {
    width: 260px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }
  .footer_mobile a {
    width: 100%;
    margin: 0 auto;
    margin-right: 5px;
  }
  .footer_mobile a:last-child {
    margin: 0;
    width: 83px;
  }
  .footer_mobile a img {
    width: 83px;
    margin: 0;
  }
}
.overlay {
  display: block;
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F2F2F2;
  width: 380px;
  min-height: 400px;
  padding: 35px 40px 40px 40px;
}
.modal__close {
  position: absolute;
  right: -40px;
  top: 0;
  font-size: 41px;
  line-height: 21px;
  color: #1EACC7;
  cursor: pointer;
}
.modal__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: #0D0D0D;
  text-align: center;
}
.modal__descr {
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #0D0D0D;
}
.modal_mini {
  min-height: 140px;
}
.modal input.error {
  border: 1px solid #1EACC7;
  border-radius: 5px;
  background-color: #ffe6e6;
}
.modal label.error {
  border: none;
  text-align: center;
  font-size: 13px;
  margin-bottom: 15px;
}

#consultation, #order, #thanks {
  display: none;
}

.feed-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin-top: 38px;
}
.feed-form input {
  font-weight: 500;
  font-size: 14px;
  color: #4B4B4B;
  height: 50px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-bottom: 11px;
  padding: 0 20px;
}
.feed-form input:nth-child(3) {
  margin-bottom: 17px;
}
.feed-form_mt25 {
  margin-top: 25px;
}

.button {
  width: 153px;
  height: 32px;
  background-color: #1EACC7;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button:hover {
  box-shadow: 3px 3px 15px #ffb3b3;
}
.button:active {
  background-color: #336dff;
  box-shadow: 5px 5px 20px #80a4ff;
}
.button_submit {
  width: 100%;
  height: 55px;
  font-size: 16px;
}
.button_mini {
  width: 135px;
  height: 44px;
  font-size: 14px;
}

* {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=style.css.map */